<h1>Listing trade_requests</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trade_requests.each do |trade_request| %>
      <tr>
        <td><%= link_to 'Show', trade_request %></td>
        <td><%= link_to 'Edit', edit_trade_request_path(trade_request) %></td>
        <td><%= link_to 'Destroy', trade_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trade request', new_trade_request_path %>
