// Place all the styles related to the Catalog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.catalog {
  h1 {
		margin: 0;
		padding-bottom: 0.5em;
		font: 150% sans-serif;
		color: cornflowerblue;
		border-bottom: 3px dotted sandybrown;
  }

  table {
    border-collapse: collapse;
	width: 100%;
	vertical-align: center;
	border-bottom: 3px dotted sandybrown;
  }

  .pokemon_table {
    border: none;
  }
  
  .trainer_image {
    width: 120px;
	height: 120px;
  }
  
  .list_image {
    width: 30px;
    height: 35px;
  }

  .list_description {
    width: 35%;
	

    p{
      margin: 0;
    }

	.name {
	  padding-left: 2em;
      font-weight: bold;
      font-size: larger;
	}
	
	  .name#Fire {
	    color: red;
	  }
	  .name#Water {
	    color: dodgerblue;
	  }
	  .name#Electric {
	    color: yellow;
	  }
	  .name#Psychic {
	    color: lightcoral;
	  }
	  .name#Rock {
	    color: darkslategray;
	  }
	.name#Ground {
	  color: darkgoldenrod;
	}
	.name#Poison {
	  color: darkorchid;
	}
	.name#Bug {
	  color: chartreuse;
	}
	.name#Dragon {
	  color: cadetblue;
	}
	.name#Ice {
	  color: aquamarine;
	}
	.name#Fighting {
	  color: brown;
	}
	.name#Ghost {
	  color: darkmagenta;
	}
	.name#Grass {
	  color: forestgreen;
	}
	.name#Normal {
	  color: lightgray;
	}
  }
}