// Place all the styles related to the Pokemons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pokemons {
  h1 {
		margin: 0;
		padding-bottom: 0.5em;
		font: 200% sans-serif;
		color: black;
  }

  table {
    border-collapse: collapse;
  }
  
  table tr {
    border-bottom: 3px dotted firebrick;
  }
  
  table tr td {
    padding: 5px;
    vertical-align: center;
  }

  .list_image {
    width: 60px;
    height: 70px;
  }

  .list_description {
    width: 35%;
	

    p{
      margin: 0;
    }

	.name {
	  padding-left: 3em;
      font-weight: bold;
      font-size: larger;
	}
	
	  .name#Fire {
	    color: red;
	  }
	  .name#Water {
	    color: dodgerblue;
	  }
	  .name#Electric {
	    color: yellow;
	  }
	  .name#Psychic {
	    color: lightcoral;
	  }
	  .name#Rock {
	    color: darkslategray;
	  }
	.name#Ground {
	  color: darkgoldenrod;
	}
	.name#Poison {
	  color: darkorchid;
	}
	.name#Bug {
	  color: chartreuse;
	}
	.name#Dragon {
	  color: cadetblue;
	}
	.name#Ice {
	  color: aquamarine;
	}
	.name#Fighting {
	  color: brown;
	}
	.name#Ghost {
	  color: darkmagenta;
	}
	.name#Grass {
	  color: forestgreen;
	}
	.name#Normal {
	  color: lightgray;
	}
  }
  
  .list_actions {
    font-size: x-small;
    text-align: right;
    padding-left: 1em;
  }
}