<h1>Listing considerations</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @considerations.each do |consideration| %>
      <tr>
        <td><%= link_to 'Show', consideration %></td>
        <td><%= link_to 'Edit', edit_consideration_path(consideration) %></td>
        <td><%= link_to 'Destroy', consideration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Consideration', new_consideration_path %>
