<%= form_for(@pokemon_trainer) do |f| %>
  <% if @pokemon_trainer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pokemon_trainer.errors.count, "error") %> prohibited this pokemon_trainer from being saved:</h2>

      <ul>
      <% @pokemon_trainer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
